{% extends 'myapp/base.html' %}
{% block title %}
    My Orders
{% endblock %}
{% block body_block %}
    {% if error_message %}          
        <h2>{{error_message}}</h2>

    {% else %}
        <h2>{{request.user.username}}'s orders: </h2>
        <ul>
            {% for order in orders %} 
                <li>
                    <h3>Order Id: {{order.pk}}</h3>
                    <p>
                        <h4>Course: {{order.course.name}}</h4>
                        <h4>Order Placed On: {{order.order_date}}</h4>
                        <h4>Order Status: {{order.get_order_status_verbose}}</h4>
                    </p>

                </li>  
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}