{% extends 'myapp/base.html' %}
{% block title %}
    Register
{% endblock %}
{% block body_block %}
    <h2>Register</h2>

    {% if error_message %} 
    
    <h2>{{error_message}}</h2>

    {% else %}
   <form action="{% url 'myapp:register' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="username" /> 
    </p>

    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="password" />
    </p>

    <p>
        <input type="submit">
    </p>
   </form>
    </ul>
    {% endif %}
{#    <p><a href="{% url 'myapp:index' %}">Go Back</a></p> #}
{% endblock %}